<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>

    <appSettings>
      
        <add key="TrueSetPath" value="TrainingSet\\true"/>
        <add key="FalseSetPath" value="TrainingSet\\false"/>
      
        <add key="AdaBoostTrainingImageSize" value="30"/>
      
        <add key="ScanningWindowDefaultSize" value="3"/>
        <add key="ScanningWindowStep" value="3"/>
      
        <add key="DumpSubDirectory" value="dumps"/>
      
    </appSettings>
</configuration>
